body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffecd2, #fcb69f);
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
  }

  h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
  }

  .slideShow {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .slides {
    display: flex;
    width: 300%;
    animation: slide 2s linear infinite;
  }

  .slides img {
    width: auto;
    height: 300px;
    border-radius: 15px;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
  /*  33% { transform: translateX(-33%); }
    66% { transform: translateX(-56%); } */
    50% { transform: translateX(-100%); }
    100%{transform: translateX(0%); }
  }

  .message {
    margin: 20px;
    font-size: 1.2em;
    color: #222;

  }



