body {
  margin: 0;
  font-family: "Noto Sans";
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  background-attachment: fixed;
  text-align: center;
  color: #343345;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.1rem;
    font-weight: 600;
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 300px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    background-color: transparent;
    gap: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
    border-radius: 16px;
    position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
  flex-shrink: 0;
}

footer {
    font-weight: 600;
  padding: 20px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.346);
  border-radius: 10px;
  margin: 20px;
}

.potpis{
    font-family: "Meie Script";
    text-align: right;
    margin-right: 25px;
}
